<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>Modal Focus</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Modal Focus</td></tr>
</thead><tbody>
<tr>
	<td>setSpeed</td>
	<td>200</td>
	<td>To avoid random failures</td>
</tr>
<tr>
	<td>open</td>
	<td>/run/ModalFocus?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>400</td>
	<td></td>
</tr>

<tr>
	<td>keyPressNative</td>
	<td>9</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>200</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>9</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>200</td>
	<td></td>
</tr>



<tr>
	<td>keyPressNative</td>
	<td>84</td>
	<td></td>
</tr>

<tr>
	<td>keyPressNative</td>
	<td>69</td>
	<td></td>
</tr>

<tr>
	<td>keyPressNative</td>
	<td>83</td>
	<td></td>
</tr>

<tr>
	<td>keyPressNative</td>
	<td>84</td>
	<td></td>
</tr>


<tr>
	<td>verifyValue</td>
	<td>vaadin=runModalFocus::/VWindow[0]/FocusableScrollPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>test</td>
</tr>


</tbody></table>
</body>
</html>
